darkdetect==0.7.1
imutils==0.5.4
numpy==1.26.4
opencv-python==4.9.0.80
PyQt6==6.7.0
PyQt6-Qt6==6.7.0
PyQt6-sip==13.6.0
pyqtdarktheme==2.1.0
pyqtgraph==0.13.7
pyserial==3.5
python-dotenv==1.0.1
scipy==1.13.0
six==1.16.0
treelib==1.7.0
